<link rel="stylesheet" type="text/css" href="/custom/css/forms.css" />

<section role="login">
  <header>
    <h1>ACCOUNT LOGIN</h1>
  </header>
  <form action="/login" method="POST" enctype="">
    <div class="form-control-e">
      <label for="email-address">Email address</label>
      <input type="text" id="email-address" />
    </div>
    <div class="form-control-e">
      <label for="user-password">Email address</label>
      <input type="password" id="user-password" />
    </div>
    <div class="form-info-e">
      <div class="remember-me">
        <input type="checkbox" />
        <span>Remember me</span>
      </div>
      <div class="remember-me">
        <a href="/reset-password">Forgot Password?</a>
      </div>
    </div>
    <div class="submit-data">
      <input type="submit" value="Login" />
    </div>
  </form>
</section>