<section role="signup">
  <header>
    <h1>ACCOUNT REGISTRATION FORM</h1>
  </header>
  <form action="/signup" method="POST" enctype="">
    <section class="form-control-wrapper">
    <span></span>
      <div class="form-controls-x">
        
      </div>
    </section>
  </form>
</section>